@page
@model Snackis.Pages.CategoryViewModel
@using Microsoft.AspNetCore.Identity
@using Snackis.Areas.Identity.Data
@inject UserManager<SnackisUser> userManager
@{

}
<div class="container">
    
    @*<div class="align-content-center">
        @if (Model.MyUser != null)
        {

            <partial name="_NewThreadPartial" />
        }
    </div>*@
    <table class="table-hover table-striped " style="width:inherit">
        <thead>
            <tr>
                <td>
                    <div class="card-body bg-dark text-white">
                        <div class="row mr-1">
                            <h3 class="col-8">@Model.Category</h3>
                            <div class="col-4"><partial name="_NewThreadPartial" /></div>
                        </div>
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @foreach (var thread in Model.AllPosts.Where(p => p.Category == Model.Category && p.Title != null))
                    {
                        <div class="card mb-1">
                            <div class="card-body p-2 p-sm-3">
                                <div class="container">
                                    <div class="row ">
                                        <a data-toggle="collapse" data-target=".forum-content"><img src="@("data:image/jpg;base64, " + Convert.ToBase64String((await userManager.FindByIdAsync(thread.UserId)).Image))" class="mr-3 rounded-circle" width="50" height="50" alt="User" /></a>
                                        <a href="?thread=@thread.Id"><h5>@thread.Title</h5></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </td>
            </tr>
        </tbody>
    </table>

</div>


