@page
@model PrivacyModel
@{
    ViewData["Title"] = "Integritetspolicy";
}
<div class="container">
    <div class="bg-white p-3">
        <div class="bg-dark text-white p-5">
            <h1>@ViewData["Title"]</h1>

            <p>
                Det här är ett diskussionsforum, och när du klickar dig in på den samlar vi in information om dig, din dator och ditt beteende på webbplatsen. Nedan kan du läsa mer om den information vi samlar in, hur vi behandlar informationen, vad vi använder den till, vilka som har tillgång till informationen och vem du kan kontakta.

                Denna webbplats förpliktigar sig att alltid följa fastställda riktlinjer för behandling av cookies och personuppgifter.

                Vilken information samlar vi in om dig:

                När du besöker denna webbplats samlar vi in information som kan hänföras till dig som person. Vi samlar inte in information som kan hänföras till dig utan att du själv har uppgett denna, t.ex. genom att registrera dig, delta i offentliga diskussioner.

                Uppgifter som kan hänföras till en person lämnas aldrig ut till tredje part och vi samlar aldrig in information som kan hänföras till dig utan att du själv gett oss tillåtelse till detta.
            </p>
        </div>
    </div>
</div>